.App {
  text-align: center;
  padding: 20px; 
  background-color: lightyellow;
}

.players-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 400px; 
}

.player {
  margin: 10px;
  padding: 20px;
  border: 2px solid grey;
  transition: border 0.3s ease-in-out;
  flex: 1;
  background-color: white; 
}

.player:nth-child(1) {
  background-color: red; 
}

.player:nth-child(2) {
  background-color: blue
}

.player.active {
  border: 2px solid #0074d9;
}

button {
  padding: 10px 20px;
  background-color: #0074d9;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.message {
  font-size: 18px;
  margin-top: 20px;
}
h1 {
  color: green
}

.reset-button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.reset-button:hover {
  background-color:darkgreen;
}